/*
side,top and bottom
*/

.macro-sct-l {
    background-color: blue;

}

.macro-sct-r {
    background-color: orange;

}

.macro-top {
    background-color: brown;

}

.macro-bottom {
    background-color: green;

}