@media screen and (min-width: 39.9375rem) {
    .macro-sct-l {
        width: 230px;
        transition: 1s;
        padding: 20px 10px 0;

    }

    .logo2,
    .lb-playlist {
        display: block;
    }

    .spotify-logo {
        margin-bottom: 1.5625rem;
    }

    .logo1 {
        display: none;
    }

    .logo2 {
        width: 8.125rem;
    }

    .lb-icon span {
        display: inline-block;
    }

}