@media screen and (min-width: 39.9375rem) {
    .macro-sct-l {
        width: 230px;
        transition: 1s;
        padding: 20px 10px 0;

    }

    .logo2,
    .lb-playlist {
        display: block;
    }

    .spotify-logo {
        margin-bottom: 1.5625rem;
    }

    .logo1 {
        display: none;
    }

    .logo2 {
        width: 8.125rem;
    }

    .lb-icon span {
        display: inline-block;
    }

    .sbimage1,
    .sbimage2 {
        justify-content: left;
        gap: .75rem;
        align-items: center;
        padding-bottom: 10px;
    }

    .sbimage1 div,
    .sbimage2 div {
        display: inline-block;

    }

    .lb-icon1 {
        border-bottom: 1px solid var(--chr-clr);
    }

}

@media screen and (min-width: 54.875rem) {
    .bottom-l-2 i:nth-child(2) {
        display: inline;
    }

}