/*
Format and Color
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --main-bg: #141922;
    --tp-bg: #080b12;
    --bt-bg: #282828;
    --sd-bg: #000000;
    --chr-clr: #7d7f84;
    --hvr-clr: #d2d2d2;
    --under-clr: #adff2f;
    --tlb-clr: #ffffff;
}

body {
    height: 100vh;
    color: #717171;
    background-color: var(--main-bg);

}

/*
Macro Sections
*/

.macro-main {
    display: flex;
}

.macro-sct-l {
    width: 3.125rem;
    height: 62.8125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    background-color: var(--sd-bg);
    padding: .625rem;

}

.macro-sct-r {
    width: 100%;
}

.macro-top {
    height: 5.625rem;
    background-color: var(--tp-bg);
}

.macro-bottom {
    height: 5.625rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: middle;
    background-color: var(--bt-bg);
}

.macro-center {
    width: 100%;
    height: 100%;

}

/*
Icons and List Left Bar
*/

.spotify-logo {
    height: 40px;
}

.logo-1 {
    width: 2.5rem;
}

.logo2 {
    display: none
}

.lb-icon {
    height: 30px
}

.lb-icon img {
    width: 1.25rem;
}

.lb-icon span {
    display: none;
}

.lb-playlist {
    height: 20rem;
    overflow-y: auto;
    display: none;
    margin-top: 1.875rem;
}

.lb-playlist h4 {
    color: var(--tlb-clr);
    margin-bottom: .9375rem;
}



.lb-playlist i {
    font-size: 35px;
    margin-bottom: 1.5625rem;

}

.lb-playlist ol li {
    margin-bottom: 30px;
    font-weight: bold;

}

.lb-icon2 {
    margin-top: 15px
}

.sbimage1,
.sbimage2 {
    display: flex;
    justify-content: center;
}

.sbimage1 img {
    width: .9375rem;
}

.sbimage1 div,
.sbimage2 div {
    display: none;
}

.sbimage2 img {
    width: 1.5625rem;
    border-radius: 50%;
    background-color: #717171;
}

.sbimage2 :nth-child(2) {
    color: #ffffff;
    font-weight: bold;
}

/*
Upgrade Button Top
*/

.upgrade {
    width: 13.4375rem;
    padding: 10px;
    border: 2px solid;
    text-align: center;
    position: absolute;
    right: 0;
    top: 1.25rem;
    color: #ffffff;
    border-radius: 2.938rem;
    margin-right: 20px;

}

/*
Bottom Bar
*/

.bottom-left {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 1.375rem .6875rem;

}

.bottom-left img {
    width: 30px;
}

.bottom-l-1 {
    font-weight: bold;
    font-size: .75rem;
    width: 40%;
}

.bottom-l-1 span:first-child {
    color: #ffffff;
}



.bottom-l-2 i:nth-child(2) {
    display: block;
}



.bottom-middle {
    width: 50%;
    text-align: center;
    padding: 12px 0;
}

.bm-btns {
    letter-spacing: 9px;
    font-size: 20px;
    color: #fff;
}

.bm-btns i:nth-child(3) {
    font-size: 28px;
    margin: 0 15px 0;
    vertical-align: -12%;
}

.playbar-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    margin-top: 1.25rem;
}

.bm-playbar {
    width: 15.625rem;
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 22px;
    margin: 0 5% 0;
}

.bm-playbar div:first-child {
    width: 20%;
    background-color: #c1c1c1;
    height: 5px;
    border-radius: 15px;
}

.bottom-right {
    width: 25%;
    color: #fff;
    padding: 35px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom-right div {
    font-size: 12px;
}

.bottom-right-bar {
    width: 50%;
    height: 3px;
    background-color: #5a5a5a;
    display: inline-block;
    border-radius: 15px;
}

.bottom-right-bar div {
    width: 20%;
    height: 3px;
    background-color: #c1c1c1;
    border-radius: 15px;
}